<li>
  <div>
    <img ng-src="http://openweathermap.org/img/w/{{$ctrl.item.weather[0].icon}}.png" alt="no img provided"/>
  </div>
  <div> 
  <h2 class="date">
    {{$ctrl.item.dt_txt.split("").slice(0,10).join("").split("-").slice(1).concat("2018").join("/")}}
  </h2>
  <div class="forecast">
    <h4>Temperature (F) : {{$ctrl.item.main.temp}}</h4>
    <hr/>
    <h4>Outside : {{$ctrl.item.weather[0].description}}</h4>
    <hr/>
    <h4>Humidity : {{$ctrl.item.main.humidity}}</h4>
    <hr/>
    <h4>Wind Speed : {{$ctrl.item.wind.speed}}</h4>
  </div>
  </div>
</li>